<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">mysql</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_enrollment</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">db_enrollment</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="com/amalaver/enrollment/Courseclassdetail.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Enrollment.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Enrollmentcourseclass.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Studentaddress.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Course.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Student.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Grade.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Professor.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Semester.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Courseclass.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Enrollmentdetail.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Enrollmentdetailschedule.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Service.hbm.xml"/>
        <mapping resource="com/amalaver/enrollment/Courseclassattendance.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
